
body {
    background-image: url("images/background.jpeg");
}

#slct {
    background-color: bisque;
    max-width: 500px;
    margin-top: 10%;
   
}


#signup-div, #login-div  {
    background-color: bisque;
    max-width: 500px;
    padding: 2%;
    margin: auto;
}

#signup-div {
    display: none;
}

.uname_msg, .email_msg, .psw_msg {

    color: red;
}
